
.mainBoard{
  background-color: #050f1f;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.cryptoItem{
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px 0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  color: #b4b7bc;
}

.cryptoItem span{
  margin-right: 10px;
}

.cryptoItem img{
  margin-right: 10px;
  
}

.search{
  border-radius: 10px;
  border: 2px solid #131c2b;
  background-color: #0a1322;
  padding: 10px;
  margin-top: 10px;
  width: 500px;
}

/* responsive /////////////////////////////////// */

/* @media screen and (min-width: 480px) and (max-width : 1199px){
  .container{
    width: 100%;
  }
} */

@media screen and (min-width: 550px) and (max-width : 699px){
  .cryptoItem{
    font-size: 13px;
  }
  
}

@media screen and (max-width : 550px){
  .cryptoItem{
    font-size: 10px;
  }
  /* .container {
    width: 100%;
  } */
  
}

